.navbar {
  background-color: #2bba98;
  height: 60px;
  width: 100%;
}

.navbar a {
  text-decoration: none;
  float: right;
  padding: 12px;
  color: white;
  font-size: 26px;
  text-align: center;
  margin-right: 70px;
}

.left {
  float: left;
  margin-left: 60px;
}

.navbar a:hover {
  color: black;
  cursor: pointer;
}
